.Lcontainer {
    display: grid;
    justify-content: center;
    padding-top: 81px;
}

h2 {
    text-transform: uppercase;
    color: #5164a3;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #cacae9;
    color: #5164a3;

    text-transform: uppercase;
}

.AddButton {
    color: #cacae9;
    background-color: #5164a3;
}