.NavBar {
    background-color: #cacae9;
    border: 1px solid #c7c7dd;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #5164a3;
    --fa-animation-duration: 2s;
}

i {
    --fa-animation-duration: 0s;   
}