.App {
    font-family: "DM Sans", sans-serif;
    background-color: #dadaee;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

a {
    color: #7180b2;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #6573a2;
}

a:hover i {
    color: #7581a7;
    transition: color ease-in-out 0.3s;
}

i {
    color: #828ba7;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #7581a7;
}